
     background-color: seagreen;
 
 .description {
    background-color: seagreen;
    text-align: center;
  }

  .logo {
background-color: purple;
text-align: center;
  }

  .nav-item {
    background-color: purple;
    text-align: center;
  }

  h2 {
text-align: center;

  }

  .navbar-nav{
    background-color: purple;
  }

  ul{
    background-color: purple;
  }

 

 